{
  "loon": {
    "id": "",
    "html_url": "",
    "raw_url": "",
    "filename": "loon_config.conf"
  },
  "merged": {
    "id": "",
    "html_url": "",
    "raw_url": "",
    "filename": "merged_config.yaml"
  }
}
